.card img{
    max-width: 250px;
    height: 250px;
    object-fit: cover;
}

.resultado-info{
    margin-top:40px;
    background:#fff;
    padding:30px;
    border-radius:12px;
    box-shadow:0 5px 20px rgba(0,0,0,0.05);
}

.resultado-info h2{
    margin-bottom:10px;
}

.resultado-info p{
    color:#555;
    line-height:1.6;
}
.item{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.depoimento{
    max-width: 280px;
    border-radius: 20px;
    height: auto;
    object-fit: cover;
    padding: 10px;
    box-shadow: 0 0 8px gray;
}